@import url(https://use.typekit.net/hmv0qjj.css);
*{
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: "acumin-pro-extra-condensed",sans-serif; 
}

html, body {
    height: 100%;
    scroll-behavior: smooth;
}

section {
    height: 100vh;
    position: relative;
}

.first-page {
    background: url('./images/yellow-grid-bg.png') no-repeat center center fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.pattern-box {
    background: url('./images/ptern-temp.png') no-repeat center center;
    width: 100%;
    background-size: contain;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
     *//* margin: 0 auto; */
    /* background-color: black; */
    background-position: 43%;
    max-width: 100%;
    height: 100vh;
}
.text {
    width: 100%;
    text-align: center;
}
.text h1 {
    font-size: 150px;
    line-height: 150px;
}
.text p {
    font-size: 30px;
}
a.quiz-cta {
    font-family: "acumin-pro",sans-serif;
    background-color: #fff;
    color: #000;
    border-radius: 0px;
    border: 1px solid #000;
    padding: 1% 4%;
    position: absolute;
    bottom: 10%;
    left: 50%;
    font-size: 20px;
    line-height: 20px;
    transform: translateX(-50%);
    margin: 0 auto;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
}
.quiz-cta:hover {
    background-color: red;
    color: #fff;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}
.second-page {
    background: url('./images/white-grid-bg.png') no-repeat center center fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}
.second-page .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#question {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #000;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 140px;
}
#answers {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#answers input[type="radio"] {
    opacity: 1;

    width: 100px;
}
#answers label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    /* padding: 10px 20px; */
    font-family: sans-serif, Arial;
    font-size: 16px;
    border-right: 1px solid #444;
    border-radius: 0px;
    width: 100%;
    min-height: 160px;
}
#answers label:last-of-type {
    border-right: none;
}
#answers label:hover {
    background-color: #f2f2f2;
}

.question-box {
    width: 80%;
    border: 1px solid #000;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.829);
    z-index: 9;
}
.question-box .question {
    padding: 4% 4%;
}
.question-box .question p {
    font-family: "acumin-pro",sans-serif;
}
.options {
    display: flex;
    border-top: 1px solid #000;
}
.options p {
    font-family: "acumin-pro",sans-serif;
}
.option-box {
    width: 25%;
    padding: 3%;
    border-right: 1px solid #000;
    position: relative;
}
.option-box:last-child {
    border-right: none;
}
.option-box:hover {
    background-color: #f2f2f2;
}
.option-box:hover::after {
    content: "";
    position: absolute;
    left: 40%;
    right: 40%;
    bottom: 10px;
    border: 1px solid black;
}
.second-page .red-square {
    position: absolute;
    top: 20%;
    left: 10%;
    z-index: 0;
}
.second-page .yellow-square {
    position: absolute;
    top: 10%;
    left: auto;
    right: 12%;
    z-index: 0;
}
.second-page .purple-square {
    position: absolute;
    top: auto;
    bottom: 20%;
    left: auto;
    right: 12%;
    z-index: 0;
}
.second-page .white-circle {
    position: absolute;
    top: auto;
    bottom: 15%;
    left: 30%;
    right: auto;
    z-index: 0;
}
.second-page .back-button {
    position: absolute;
    top: auto;
    bottom: 10%;
    left: 5%;
    right: auto;
    z-index: 0;
}
.second-page .back-button a{
    color: #000;
    text-decoration: none;
    cursor: pointer;
    font-family: "acumin-pro",sans-serif;
}
.second-page progress[value] {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;   
    width: 60%;
    height: 10px;
    margin-top: 50px;
    position: absolute;
    bottom: 10%;
}
.second-page progress[value]::-webkit-progress-bar {
    background-color: #fff;
    border-radius: 0px;
    border: 1px solid #979696;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25) inset;
}
.second-page progress[value]::-webkit-progress-value {
    background-color: #000;
}
/*-- Form Page --*/
.form-page {
    background: url('./images/red-grid-bg.png') no-repeat center center fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form-page .container {
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
}
.form-page .heading {
    text-align: center;
    text-transform: uppercase;
    line-height: 30px;
    margin-bottom: 20px;
}
.form-page .heading h2{
    font-size: 32px;
    line-height: 42px;
    font-family: "acumin-pro-condensed",sans-serif;
}
.form-page .container input {
    width: 100%;
    padding: 6% 4%;
    border: 1px solid #000;
    border-radius: 0px;
    box-sizing: border-box;
    border-bottom: none;
    font-family: "acumin-pro",sans-serif;
}

.form-page .container input:focus {
    border-radius: 0px!important;
    border: 1px solid rgb(19, 98, 245);
    border-bottom: none;
}
.form-page .container input[type=button], .form-page .container input[type=button]  {
    border-radius: 0px!important;
    border-bottom: 1px solid #000;
    background-color: blue;
    color: #fff;
    font-family: "acumin-pro",sans-serif;
}
.inline-input {
    display: flex;
}
.inline-input input:first-of-type {
    border-right: none;
}
.disclaimer p {
    color: #fff;
    font-size: 12px;
    letter-spacing: .5px;
    text-align: center;
    font-family: "acumin-pro",sans-serif;
}
.thank-you {
    background: url('./images/purple-bg.png') no-repeat center center fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    height: 100vh;
}
.thank-you .container {
    width: 87%;
    margin: 0 auto;
}
.thank-you .brand-text h1 {
    color: #fff;
    font-size: 120px;
}
.thank-you .result-line {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 9;
}
.thank-you .result-line hr {
    width: 100px;
    height: 5px;
    background-color: #000;
    border: none;
    margin-top: 10px;
    margin-right: 5px;
}
.thank-you .result-line span {
    font-size: 50px;
    font-family: "acumin-pro-semi-condensed",sans-serif;
}
.thank-you .thank-you-msg {
    background-color: #49479d;
    max-width: 308px;
    border: 1px solid #8583bb;
    padding: 4% 4%;
    color: #ffde2f;
    margin-top: 15px;
    position: relative;
    z-index: 9;
}
.thank-you .thank-you-msg p {
    font-family: "acumin-pro",sans-serif;
}
.thank-you .sharing-social {
    background-color: #49479d;
    max-width: 308px;
    border: 1px solid #8583bb;
    padding: 4% 4%;
    margin-top: 30px;
    position: relative;
    z-index: 9;
}
.thank-you .sharing-social p {
    color: #fff;
    font-family: "acumin-pro",sans-serif;
}
.social-links span {
    font-size: 35px;
    font-weight: 600;
    font-family: "acumin-pro",sans-serif;
}
.social-links span i {
    color: #8583bb;
    padding-right: 10px;
}
.thank-you .about-us-btn {
    font-family: "acumin-pro",sans-serif;
    position: absolute;
    background-color: #49479d;
    border: 1px solid #000;
    padding: 10px 30px;
    cursor: pointer;
    left: auto;
    right: 10%;
    top: 5%;
    color: #000;
    z-index: 9;
}
.thank-you-art {
    position: absolute;
    left: auto;
    right: 10%;
    top: auto;
    bottom: 8%;
    z-index: 0;
}
.thank-you-art img {
    width: 400px;
    z-index: 0;
}
/* Quiz page styles */
#content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
#start {
    font-family: "acumin-pro",sans-serif;
    background-color: #fff;
    color: #000;
    border-radius: 0px;
    border: 1px solid #000;
    padding: 10px 60px;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
}
#start:hover {
    background-color: red;
    color: #fff;
    transition: background-color 1000ms linear;
}
.actions{
    position: relative;
    text-align: center;
    margin-top: 40px;
    z-index: 9;
}
.actions button {
    display: inline;
    padding: 0px 50px;
    font-size: 20px;
    margin: 0px 10px 10px 0px;
    background-color: #fff;
    border: 1px solid #000;
}
.actions #warning{
    text-align: center;
    color: red;
}
#div1 {
    position: relative;
    width: 84%;
    z-index: 9;
    border: 1px solid #000;
    background-color: #fff;
}
#question p{
    font-family: "acumin-pro",sans-serif;
}
#answers{
    text-align: center;
}
.answerlist{
    width: 25%;
    position: relative;
    text-align: center;
    border-right: 1px solid #000;
}
.answerlist:last-of-type{
    border-right: none;
}
#answers input[type="radio"]{
    width:80px;
    height:60px;
    opacity: 0;
    display: block;
    position: absolute;
}

#answers .ans:checked + label{
    background-color: #f2f2f2;
}
#answers .ans:checked + label:hover {
    background-color: #f2f2f2;
}
#answers .ans:checked + label:after {
    content: "";
    position: absolute;
    left: 40%;
    right: 40%;
    bottom: 10px;
    border: 1px solid black;
}
.prog-bar {
    width: 70%;
    position: absolute;
    bottom: 15%;
    z-index: 9;
}
#barra {
    width: 100%;
    height: 10px;
    background-color: #fff;
    border: 1px solid #979696;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25) inset;
}
#bar {
    height: 10px;
    background-color: #000;
}
#score {
    text-align: center;
}


/*Large devices (desktops, less than 1200px)*/
@media screen and (max-width: 1199.98px) { ... }

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) { 
    .pattern-box {
        background-position: 35%;
    }
 }

 /*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) { 
    .pattern-box {
        background-position: 35%;
    }
}

@media screen and (max-width: 575.98px) { 
    .pattern-box {
        background-size: cover;
        background-position: 100%;
    }
    .option-box {
        width: 100%;
        border-right: none;
        padding: 0%;
        padding-top: 2%;
        padding-bottom: 2%;
        border-bottom: 1px solid;
    }
    .option-box:last-child {
        border-bottom: none;
    }
    .option-box:hover::after {
        content: "";
        position: absolute;
        left: 40%;
        right: 40%;
        bottom: 2px;
        border: 1px solid black;
    }
    .options {
        display: flex;
        
        flex-direction: column;
    }
    .answerlist {
        width: 100%;
    }
    .form-page .container {
        max-width: 270px;
    }
    .inline-input {
        flex-direction: column;
    }
    .inline-input input:first-of-type {
        border-right: 1px solid #000;
    }
    .thank-you-art {
        right: 0;
        bottom: -2%;
    }
    #answers {
        flex-direction: column;
    }
    .answerlist {
        width: 100%;
    }
    #answers label {
        min-height: 70px;
        font-size: 13px;
    }
}
@media screen and (max-width: 375px) {
    .pattern-box{
        background-position: 83%;
    }
    #answers {
        flex-direction: column;
    }
    #question {
        min-height: 70px;
        padding-left: 10px;
    }
    #question p {
        font-size: 14px;
        line-height: 14px;
    }
    .answerlist {
        width: 100%;
        border: 1px solid #000;
        border-bottom: none;
    }
    .answerlist:last-of-type {
        border-right: 1px solid #000;
    }
    #answers label {
        min-height: 70px;
        font-size: 13px;
    }
}
@media screen and (max-width: 320px) {
    a.quiz-cta {
        font-size: 18px;
    }
    .pattern-box{
        background-position: 75%;
    }
    #answers {
        flex-direction: column;
    }
    .answerlist {
        width: 100%;
    }
    #answers label {
        min-height: 70px;
        font-size: 13px;
    }
    .actions {
        margin-top: 70px;
        z-index: 9;
    }
    .prog-bar {
        bottom: 18%;
    }
}



